@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.signin-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main-logo {
  font-size: 5em;
  text-align: center;
  padding: 10px;
}

.signin-button {
  border-radius: 10px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #aeaeae;
  cursor: pointer;
}

.top-bar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 7vh;
  background-color: #f8f8f8;
  /* box-shadow: 0 8px 4px -4px #ddd; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workspace-container {
  width: 100%;
  height: 86vh;
  background-color: #dfdfdf;
}

.key-container {
  background-color: #f8f8f8;
  height: 6%;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.key-container ul {
  list-style: none;
  display: flex;
}

.key-container li {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 50px;
  cursor: pointer;
}

.key-container li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.key-container li:hover {
  background-color: #cacaca;
}

.tool-button {
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  cursor: pointer;
}

.side-bar {
  width: 30%;
  height: 94%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
}

.desc-panel {
  height: 90%;
}

.desc-header {
  height: 5vh;
  line-height: 5vh;
  padding-left: 1.2em;
}

.desc-body {
  padding: 1.2em;
  text-align: justify;
  text-justify: inter-word;
}

.button-container {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #f8f8f8;
  font-size: 2em;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #cacaca;
}

.bottom-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 7vh;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.bottom-bar ul {
  list-style: none;
  display: flex;
}

.bottom-bar li {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;

  padding: 20px;
}

.contract-name {
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: 600;
}

.logo img {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.signout-button {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: inherit;
  height: 100%;
  cursor: pointer;
}

.signout-button:hover {
  background-color: #cacaca;
}

svg.a9s-annotationlayer .a9s-selection .a9s-inner,
svg.a9s-annotationlayer .a9s-annotation .a9s-inner {
  stroke: yellow;
  stroke-width: 3;
}

svg.a9s-annotationlayer .a9s-selection .a9s-outer,
svg.a9s-annotationlayer .a9s-annotation .a9s-outer {
  stroke: green;
  stroke-width: 6;
}